node_modules/
dist/
.env

output/courses/**
!output/
!output/courses/
!output/courses/.gitkeep
output/master_index.json
output/download_plan.json
output/download_selection.json

sessions/**
!sessions/
!sessions/.gitkeep

database/*.db
database/*.db-*
!database/
!database/.gitkeep

logs/**
!logs/
!logs/.gitkeep

credentials/*.json
!credentials/.gitkeep
